@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*--Css--*@
<link rel="stylesheet" href="~/css/home.css" />


@*<div class="text-center">
    <h1 class="display-4">StrayPetOnline</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<section class="parent-all">
    <div class="px-4 py-5 my-5 text-center">
        <img src="Images/Logos/cat_puppy.png" alt="Dog&Cat Photo" width="300" height="300" />
        <h1 class="display-1 fw-bold">Stray Pet Online</h1>
        <h6 class="display-6 fw-bold">Pet Adoption Website</h6>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Nowadays, people are busy in their daily life and having a lot of stress from their working area. Most of them would like to have a pet to accompany in their daily life and also can release the stress that they received but they don't have the budget to buy a pet. So this website "Stray Pet Online" will help their problem of having a pet without spending any amount of money.</p>
        </div>

        <div class="overflow-hidden" style="max-height: 50vh;">
            <div class="container px-5">
                <img src="Images\Dogs and Cats\carousel1\8.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <div class="divider-white-100"></div>
    <h6 class="display-5 fw-bold">Featured Pets</h6>
    <div class="divider-white-50"></div>


    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Dog</strong>
                    <h3 class="mb-0">Ollie</h3>
                    <div class="mb-1 text-muted">May 22</div>
                    <p class="card-text mb-auto">I'm being cared for by Private owner (Pasig, Phillipines)</p>
                    <a href="#" class="stretched-link">Adopt Ollie</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Cat</strong>
                    <h3 class="mb-0">Maine</h3>
                    <div class="mb-1 text-muted">Jan 11</div>
                    <p class="mb-auto">I'm being cared for by Private owner (Taguig, Phillipines)</p>
                    <a href="#" class="stretched-link">Adopt Maine</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
        </div>
    </div>

    <div class="divider-white-100"></div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="Images\Dogs and Cats\carousel1\1.jfif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Ready to Adopt?</h1>
                <p class="lead">We are committed to finding loving homes for these rescued animals, so all interested adopters go through a screening process. Find out if you can give one of these lovely shelter residents a home. Submit your application form below.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="link" asp-area="" asp-page="adopt">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Submit your application</button>
                    </a>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Browse pet</button>
                </div>
            </div>
        </div>
    </div>
</section>


