@page
@model StrayPetOnline.Pages.SendPetModel
@{
    ViewData["Title"] = "Send A Pet";
}

@*<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>*@

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-1 fw-bold">@ViewData["Title"]</h1>
</div>